In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Import .csv file with review data as new dataframe
vine_df = pd.read_csv("vine_table.csv")
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3VR960AHLFKDV,4,0,0,N,Y
1,R16LGVMFKIUT0G,5,0,0,N,Y
2,R1AIMEEPYHMOE4,5,1,1,N,Y
3,R1892CCSZWZ9SR,3,0,0,N,Y
4,R285P679YWVKD1,3,0,0,N,N
...,...,...,...,...,...,...
792108,R1F7BNIK2R72ZC,5,21,21,N,N
792109,RVR3U3QA0D95B,5,10,11,N,N
792110,R1X5JB9UJRZW31,5,3,5,N,N
792111,R235PHRTF7BFK7,4,5,5,N,N
792112,RZ0Y9U30658TB,5,5,6,N,N

In [4]:
# Create new filtered dataframe with only reviews with 20+ votes
filtered_vine_df = vine_df[(vine_df.total_votes>=20)]
filtered_vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
73,RL8D0KJ0J9L0O,5,152,165,N,Y
157,R1BEINAIQFBRJC,5,21,23,N,Y
190,R2L59KIJH302P9,4,26,26,N,Y
221,RR99CPG695T0I,5,215,248,N,N
237,R1XQNKKUPCMWVO,5,43,44,N,Y
...,...,...,...,...,...,...
792079,R1HWY1Z29N8XUU,4,29,30,N,N
792086,R1OBNEXHLWO188,5,59,59,N,Y
792091,R3A76JWPT014A,5,31,35,N,N
792101,R15YY6Z5KN7F9,5,44,45,N,N
792108,R1F7BNIK2R72ZC,5,21,21,N,N

In [7]:
# Filter out review that are less than 50% helpful votes and set equal to new dataframe
helpful_vine_df = filtered_vine_df[((filtered_vine_df.helpful_votes/filtered_vine_df.total_votes)>=0.5)]
helpful_vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
73,RL8D0KJ0J9L0O,5,152,165,N,Y
157,R1BEINAIQFBRJC,5,21,23,N,Y
190,R2L59KIJH302P9,4,26,26,N,Y
221,RR99CPG695T0I,5,215,248,N,N
237,R1XQNKKUPCMWVO,5,43,44,N,Y
...,...,...,...,...,...,...
792079,R1HWY1Z29N8XUU,4,29,30,N,N
792086,R1OBNEXHLWO188,5,59,59,N,Y
792091,R3A76JWPT014A,5,31,35,N,N
792101,R15YY6Z5KN7F9,5,44,45,N,N
792108,R1F7BNIK2R72ZC,5,21,21,N,N

In [9]:
# Filter helpful reviews to show only paid vine users reviews
paid_vine_df = helpful_vine_df[(helpful_vine_df.vine == 'Y')]
paid_vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
5408,R2BQOD1R0228FN,3,17,26,Y,N
8246,RC31RUPFOHBHQ,4,102,117,Y,N
12219,REN3N1WITLF1Y,5,33,37,Y,N
13330,R71RZQ9UZVG47,4,38,47,Y,N
16942,R38NMQBH88HLM6,4,18,24,Y,N
...,...,...,...,...,...,...
763326,R2QLL1VI9MRY2W,4,768,783,Y,N
763464,R15S9ONTV908AJ,4,21,24,Y,N
763976,R3E85BMKO2AWUP,4,155,177,Y,N
764209,RGNC5HFA9IZ5V,5,59,63,Y,N
764564,R142W0FDRAM7WE,5,99,111,Y,N

In [10]:
# Filter helpful reviews to show only unpaid users reviews
unpaid_vine_df = helpful_vine_df[(helpful_vine_df.vine == 'N')]
unpaid_vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
73,RL8D0KJ0J9L0O,5,152,165,N,Y
157,R1BEINAIQFBRJC,5,21,23,N,Y
190,R2L59KIJH302P9,4,26,26,N,Y
221,RR99CPG695T0I,5,215,248,N,N
237,R1XQNKKUPCMWVO,5,43,44,N,Y
...,...,...,...,...,...,...
792079,R1HWY1Z29N8XUU,4,29,30,N,N
792086,R1OBNEXHLWO188,5,59,59,N,Y
792091,R3A76JWPT014A,5,31,35,N,N
792101,R15YY6Z5KN7F9,5,44,45,N,N
792108,R1F7BNIK2R72ZC,5,21,21,N,N

In [25]:
# Count total number of paid reviews
paid_num_reviews = paid_vine_df['review_id'].count()
paid_num_reviews

136

In [26]:
# Count number of 5 star paid reviews
paid_num_5star_reviews = paid_vine_df['review_id'][(paid_vine_df.star_rating==5)].count()
paid_num_5star_reviews

74

In [27]:
# Calc percentage 5 star
paid_percentage_5star = paid_num_5star_reviews/paid_num_reviews * 100
paid_percentage_5star

54.41176470588235

In [28]:
# Count total number of unpaid reviews
unpaid_num_reviews = unpaid_vine_df['review_id'].count()
unpaid_num_reviews

18019

In [29]:
# Count number of 5 star paid reviews
unpaid_num_5star_reviews = unpaid_vine_df['review_id'][(unpaid_vine_df.star_rating==5)].count()
unpaid_num_5star_reviews

8482

In [30]:
# Calc percentage 5 star
unpaid_percentage_5star = unpaid_num_5star_reviews/unpaid_num_reviews * 100
unpaid_percentage_5star

47.072534546867196